@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;669&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./background.png);
}

main{
    background-color: #ccc;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    position: relative;
    padding: 30px;
}

.badge{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 96px;
    background-color: black;
    color: white;
    padding: 6px 10px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 40%;
}

.clock{
    background-color: white;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 4px;
}